:root {
  --bg-light: #ECF0F1;
  --bg-dark-light: #25282C;
  --bg-dark: #191C20;
  --bg-dark-light-dm: #25282C;
  --bg-very-dark-dm: #25282C;
}

body {
  background-color: var(--bg-dark) !important;
}

/* Cores de fundo */
.bg-app-primary {
  background-color: var(--bg-dark-light);
}

.bg-app-secondary {
  background-color: var(--bg-dark);
}

.bg-app-accent {
  background-color: var(--bg-light);
}

.active {
  background-color: var(--bg-light) !important;
  color: var(--bg-dark) !important;
}


.bg-blue-container {
  background-color: var(--bg-dark-light-dm) !important;
}

/* Mover tudo isso para um arquivo css separado dps (apenas para esse tipo de estilo global) */
.form-control {
  border: none;
  padding-left: 0px !important;
  background: var(--bg-dark-light) !important;
}

.form-control:focus {
  box-shadow: none !important;
}

.input-group-prepend  {
  border: none;
}

.input-group-prepend > span {
  border: none;
  background: var(--bg-dark-light) !important;
  color: var(--bg-light);
}